.SignupButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin: 3%;
    cursor: pointer;
}
.CancelButton {
    background-color: #f44336;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    margin: 3%;
    cursor: pointer;
}
.Input {
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    display: table;
    align-content: center;
    margin: auto;
    margin-top: 2%;
}
.Label {
    margin: auto;
    width: 60%;
    display: table;
    align-content: center;
}